//@import here
@import 'bower_components/bskyb-colours/src/scss/colours';
@import 'bower_components/bskyb-typography/src/scss/typography';
@import 'bower_components/bskyb-skycons/dist/scss/skycons';

/* Common demo Sass here */
.demo-block{
  margin-bottom: 20px;
  display: block;
  clear: both;
}
.demo-version{
  font-size: 0.5em;
}
.demo-icon{
  display: inline-block;
  width: 20px;
  height: 20px
}
.demo-icon--github{
  background: url(../images/GitHub-Mark-32px.png) no-repeat 0px 0px;
  background-size: 100%;
}

.speak {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  display: block;
}

code{
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

/* your demo specific scss here */
.tooltip-content{
  margin: 4px 0 0 80px;
  padding: 0px;
  position: relative;
  display: block;
  opacity: 1;
  box-shadow: none;
  width: 70%;
  p {
    overflow: hidden;
    line-height: 20px;
    padding-right: 10px;
    margin-left: 12px;
  }
  &:before, &:after {
    left: 19px;
  }
  .skycon-home {
    float: left;
    margin: -2px 8px 0 0;
  }
  .skycon-info {
    float: left;
    margin-right: 8px;
    margin-top: -2px;
    color: $colour-v3-yellow;
    font-size: 20px;
  }
}
